div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1.page-header Scrumboard
    p.lead So much wow. So much sophisticated. So much Angularish. So much Nodish. So much MEANishh.
    img(src='assets/images/doge.png', alt='I\'m Doge' style="width: 10%;")

.container
  .row

    // Tasks to do
    .col.l4.m6.s12
      h4="ToDo"
      ul(ng-repeat="task in tasks | filter: { status: 'ToDo' }")
        li

          // detail view
          .row(ng-hide='editing', ng-click='editing = true')
            .col.s12.m12
              .card.red(style="margin:0;")
                .card-content.white-text
                  span.card-title="{{task.name}}"
                  p="{{task.info}}"
                .card-action
                  .row.white-text
                    .col.s6(style="padding:0;")
                      i.tiny.mdi-action-perm-identity
                      span=" {{task.personResponsible}}"
                    .col.s3(style="padding:0;")
                      i.tiny.mdi-device-access-time
                      span=" {{task.estimation}}"
                    .col.s3(style="padding:0;")
                      i.tiny.mdi-action-label-outline
                      span=" {{task.status}}"

          // edit form
          form(ng-show='editing', ng-submit='editing = false')
            .row
              .col.s12.m12
                .card.red(style="margin:0;")
                  .card-content.white-text
                    span.card-title="{{task.name}}"
                    textarea#description.materialize-textarea(type='text', placeholder=" ", ng-model='task.info', ng-required='', length='120')
                      label(for='description') Description
                  .card-action.white-text(style="border: none;")
                      p
                        i.tiny.mdi-action-perm-identity=" Responsible Person"
                        input(type='text', ng-model='task.personResponsible', placeholder='Date', ng-required='')
                      p
                        i.tiny.mdi-device-access-time=" Estimate"
                        select.form-control(type='text', ng-model='task.estimation', ng-required='')
                          option=1
                          option=2
                          option=3
                          option=5
                          option=8
                      p
                        i.tiny.mdi-action-label-outline=" Status"
                        select.form-control(type='text', ng-model='task.status', ng-required='')
                          option="ToDo"
                          option="InProgress"
                          option="Done"
                      button.btn.btn-primary(type='submit', ng-click='updateTask(task)') Save

    // Tasks in Progress
    .col.l4.m6.s12
      h4="In Progress"
      ul(ng-repeat="task in tasks | filter: { status: 'InProgress' }")
        li

          // detail view
          .row(ng-hide='editing', ng-click='editing = true')
            .col.s12.m12
              .card.orange.darken-1(style="margin:0;")
                .card-content.white-text
                  span.card-title="{{task.name}}"
                  p="{{task.info}}"
                .card-action
                  .row.white-text
                    .col.s6(style="padding:0;")
                      i.tiny.mdi-action-perm-identity
                      span=" {{task.personResponsible}}"
                    .col.s3(style="padding:0;")
                      i.tiny.mdi-device-access-time
                      span=" {{task.estimation}}"
                    .col.s3(style="padding:0;")
                      i.tiny.mdi-action-label-outline
                      span=" {{task.status}}"

          // edit form
          form(ng-show='editing', ng-submit='editing = false')
            .row
              .col.s12.m12
                .card.orange.darken-1(style="margin:0;")
                  .card-content.white-text
                    span.card-title="{{task.name}}"
                    textarea#description.materialize-textarea(type='text', placeholder=" ", ng-model='task.info', ng-required='', length='120')
                      label(for='description') Description
                  .card-action.white-text(style="border: none;")
                      p
                        i.tiny.mdi-action-perm-identity=" Responsible Person"
                        input(type='text', ng-model='task.personResponsible', placeholder='Date', ng-required='')
                      p
                        i.tiny.mdi-device-access-time=" Estimate"
                        select.form-control(type='text', ng-model='task.estimation', ng-required='')
                          option=1
                          option=2
                          option=3
                          option=5
                          option=8
                      p
                        i.tiny.mdi-action-label-outline=" Status"
                        select.form-control(type='text', ng-model='task.status', ng-required='')
                          option="ToDo"
                          option="InProgress"
                          option="Done"
                      button.btn.btn-primary(type='submit', ng-click='updateTask(task)') Save
    
    // Tasks done
    .col.l4.m6.s12
      h4="Done"
      ul(ng-repeat="task in tasks | filter: { status: 'Done' }")
        li
          // detail view
          .row(ng-hide='editing', ng-click='editing = true')
            .col.s12.m12
              .card.green.darken-1(style="margin:0;")
                .card-content.white-text
                  span.card-title="{{task.name}}"
                  p="{{task.info}}"
                .card-action
                  .row.white-text
                    .col.s6(style="padding:0;")
                      i.tiny.mdi-action-perm-identity
                      span=" {{task.personResponsible}}"
                    .col.s3(style="padding:0;")
                      i.tiny.mdi-device-access-time
                      span=" {{task.estimation}}"
                    .col.s3(style="padding:0;")
                      i.tiny.mdi-action-label-outline
                      span=" {{task.status}}"

          // edit form
          form(ng-show='editing', ng-submit='editing = false')
            .row
              .col.s12.m12
                .card.green.darken-1(style="margin:0;")
                  .card-content.white-text
                    span.card-title="{{task.name}}"
                    textarea#description.materialize-textarea(type='text', placeholder=" ", ng-model='task.info', ng-required='', length='120')
                      label(for='description') Description
                  .card-action.white-text(style="border: none;")
                      p
                        i.tiny.mdi-action-perm-identity=" Responsible Person"
                        input(type='text', ng-model='task.personResponsible', placeholder='Date', ng-required='')
                      p
                        i.tiny.mdi-device-access-time=" Estimate"
                        select.form-control(type='text', ng-model='task.estimation', ng-required='')
                          option=1
                          option=2
                          option=3
                          option=5
                          option=8
                      p
                        i.tiny.mdi-action-label-outline=" Status"
                        select.form-control(type='text', ng-model='task.status', ng-required='')
                          option="ToDo"
                          option="InProgress"
                          option="Done"
                      button.btn.btn-primary(type='submit', ng-click='updateTask(task)') Save
            
  .row
    .col.s12
      h4="Add Task"
      form.task-form    
        p.input-group
          .row
            .input-field.col.s12
              input#newTask(type='text', ng-model='newTask')
              label(for='newTask') Title
              //textarea.form-control(type='text', placeholder='Add a info here.', ng-model='newInfo')
            
            .input-field.col.s12
              textarea#newInfo.materialize-textarea(type='text', ng-model='newInfo', length='120')
              label(for='newInfo') Description

            .input-field.col.s6
              select.browser-default(ng-model='newEstimation')
                option(value='', selected, disabled) Estimate
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='5') 5
                option(value='8') 8
            
            .input-field.col.s6
              select.browser-default(ng-model='newStatus')
                option(value='', selected, disabled) Status
                option(value='ToDo') ToDo
                option(value='InProgress') In Progress
                option(value='Done') Done

            .input-field.col.s12
              input#newPersonResponsible(type='text', ng-model='newPersonResponsible', length='100')
              label(for='newPersonResponsible') Person Responsible

            .input.field.col.s12
              span.input-group-btn
                button.btn(type='submit', ng-click='addTask()') Add New

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues