.navbar-fixed
  .nav-unit
    nav
      .nav-wrapper.cyan.darken-3
        .container
          a.brand-logo(href='#!') Scrumboard
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.mdi-navigation-menu
          ul.right.hide-on-med-and-down
                li
                  a(href='#sectionScrumboard') Scrumboard
                li
                  a(href='#sectionAddTask') Add Task
                li
                  a(href='#sectionAbout') About
              ul#mobile-demo.side-nav
                li
                  a.grey-text(href='#sectionScrum') Scrumboard
                li
                  a.grey-text(href='#sectionAddTask') Add Task
                li
                  a.grey-text(href='#sectionAbout') About
//div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit.cyan.darken-2
  .container
    h1.page-header Le Scrumboard
    p.lead So much wow. So much sophisticated. Very Angularish. Many Nodish. So much MEANishh. Wow.
    img(src='assets/images/doge.png', alt='I\'m Doge' style="width: 10%;")


section#sectionScrumboard.section-unit

  .container(style="margin-top:15px;")
    .row

      // Tasks to do
      .col.l4.m6.s12
        h4="ToDo"
        ul(ng-repeat="task in tasks | filter: { status: 'ToDo' }")
          li

            // detail view
            .row(ng-hide='editing', ng-click='editing = true')
              .col.s12.m12
                .card.red(style="margin:0;")
                  .card-content.white-text
                    span.card-title="{{task.name}}"
                    p="{{task.info}}"
                  .card-action
                    .row.white-text
                      .col.s5(style="padding:0;")
                        i.tiny.mdi-action-perm-identity
                        span=" {{task.personResponsible}}"
                      .col.s2(style="padding:0;")
                        i.tiny.mdi-device-access-time
                        span=" {{task.estimation}}"
                      .col.s5(style="padding:0;")
                        i.tiny.mdi-action-label-outline
                        span=" {{task.status}}"

            // edit form
            form(ng-show='editing', ng-submit='editing = false')
              .row
                .col.s12.m12
                  .card.red(style="margin:0;")
                    .card-content.white-text
                      textarea#title.materialize-textarea(type='text', placeholder=" ", ng-model='task.name', ng-required='', length='120')
                        label(for='title') Title
                      textarea#description.materialize-textarea(type='text', placeholder=" ", ng-model='task.info', ng-required='', length='120')
                        label(for='description') Description
                    .card-action.white-text(style="border: none;")
                        p
                          i.tiny.mdi-action-perm-identity=" Responsible Person"
                          textarea.materialize-textarea(type='text', ng-model='task.personResponsible', placeholder='Date', ng-required='')
                        p
                          i.tiny.mdi-device-access-time=" Estimate"
                          select.form-control(type='text', ng-model='task.estimation', ng-required='' class="browser-default black-text")
                            option=1
                            option=2
                            option=3
                            option=5
                            option=8
                        p
                          i.tiny.mdi-action-label-outline=" Status"
                          select.form-control(type='text', ng-model='task.status', ng-required='' class="browser-default black-text")
                            option="ToDo"
                            option="InProgress"
                            option="Done"
                        button.btn.btn-primary(type='submit', ng-click='updateTask(task)') Save

      // Tasks in Progress
      .col.l4.m6.s12
        h4="In Progress"
        ul(ng-repeat="task in tasks | filter: { status: 'InProgress' }")
          li

            // detail view
            .row(ng-hide='editing', ng-click='editing = true')
              .col.s12.m12
                .card.orange.darken-1(style="margin:0;")
                  .card-content.white-text
                    span.card-title="{{task.name}}"
                    p="{{task.info}}"
                  .card-action
                    .row.white-text
                      .col.s5(style="padding:0;")
                        i.tiny.mdi-action-perm-identity
                        span=" {{task.personResponsible}}"
                      .col.s2(style="padding:0;")
                        i.tiny.mdi-device-access-time
                        span=" {{task.estimation}}"
                      .col.s5(style="padding:0;")
                        i.tiny.mdi-action-label-outline
                        span=" In Progress"

            // edit form
            form(ng-show='editing', ng-submit='editing = false')
              .row
                .col.s12.m12
                  .card.orange.darken-1(style="margin:0;")
                    .card-content.white-text
                      textarea#title.materialize-textarea(type='text', placeholder=" ", ng-model='task.name', ng-required='', length='120')
                        label(for='title') Title
                      textarea#description.materialize-textarea(type='text', placeholder=" ", ng-model='task.info', ng-required='', length='120')
                        label(for='description') Description
                    .card-action.white-text(style="border: none;")
                        p
                          i.tiny.mdi-action-perm-identity=" Responsible Person"
                          textarea.materialize-textarea(type='text', ng-model='task.personResponsible', placeholder='Date', ng-required='')
                        p
                          i.tiny.mdi-device-access-time=" Estimate"
                          select.form-control(type='text', ng-model='task.estimation', ng-required='' class="browser-default black-text")
                            option=1
                            option=2
                            option=3
                            option=5
                            option=8
                        p
                          i.tiny.mdi-action-label-outline=" Status"
                          select.form-control(type='text', ng-model='task.status', ng-required='' class="browser-default black-text")
                            option="ToDo"
                            option="InProgress"
                            option="Done"
                        button.btn.btn-primary(type='submit', ng-click='updateTask(task)') Save
      
      // Tasks done
      .col.l4.m6.s12
        h4="Done"
        ul(ng-repeat="task in tasks | filter: { status: 'Done' }")
          li
            // detail view
            .row(ng-hide='editing', ng-click='editing = true')
              .col.s12.m12
                .card.green.darken-1(style="margin:0;")
                  .card-content.white-text
                    span.card-title="{{task.name}}"
                    p="{{task.info}}"
                  .card-action
                    .row.white-text
                      .col.s5(style="padding:0;")
                        i.tiny.mdi-action-perm-identity
                        span=" {{task.personResponsible}}"
                      .col.s2(style="padding:0;")
                        i.tiny.mdi-device-access-time
                        span=" {{task.estimation}}"
                      .col.s5(style="padding:0;")
                        i.tiny.mdi-action-label-outline
                        span=" {{task.status}}"

            // edit form
            form(ng-show='editing', ng-submit='editing = false')
              .row
                .col.s12.m12
                  .card.green.darken-1(style="margin:0;")
                    .card-content.white-text
                      textarea#title.materialize-textarea(type='text', placeholder=" ", ng-model='task.name', ng-required='', length='120')
                        label(for='title') Title
                      textarea#description.materialize-textarea(type='text', placeholder=" ", ng-model='task.info', ng-required='', length='120')
                        label(for='description') Description
                    .card-action.white-text(style="border: none;")
                        p
                          i.tiny.mdi-action-perm-identity=" Responsible Person"
                          textarea.materialize-textarea(type='text', ng-model='task.personResponsible', placeholder='Date', ng-required='')
                        p
                          i.tiny.mdi-device-access-time=" Estimate"
                          select.form-control(type='text', ng-model='task.estimation', ng-required='' class="browser-default black-text")
                            option=1
                            option=2
                            option=3
                            option=5
                            option=8
                        p
                          i.tiny.mdi-action-label-outline=" Status"
                          select.form-control(type='text', ng-model='task.status', ng-required='' class="browser-default black-text")
                            option="ToDo"
                            option="InProgress"
                            option="Done"
                        button.btn.btn-primary(type='submit', ng-click='updateTask(task)') Save

section#sectionAddTask.section-unit.blue-grey.lighten-5
  .container(style="margin-top:15px")
    .row
      .col.s12
        h4="Add Task"
        form.task-form    
          p.input-group
            .row
              .input-field.col.s12
                textarea#newTask.materialize-textarea(type='text', ng-model='newTask', length='120')
                label(for='newTask') Title
                //textarea.form-control(type='text', placeholder='Add a info here.', ng-model='newInfo')
              
              .input-field.col.s12
                textarea#newInfo.materialize-textarea(type='text', ng-model='newInfo', length='120')
                label(for='newInfo') Description

              .input-field.col.s6
                select.browser-default(ng-model='newEstimation')
                  option(value='', selected, disabled) Estimate
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='5') 5
                  option(value='8') 8
              
              .input-field.col.s6
                select.browser-default(ng-model='newStatus')
                  option(value='', selected, disabled) Status
                  option(value='ToDo') ToDo
                  option(value='InProgress') In Progress
                  option(value='Done') Done

              .input-field.col.s12
                textarea#newPersonResponsible.materialize-textarea(type='text', ng-model='newPersonResponsible', length='100')
                label(for='newPersonResponsible') Person Responsible

              .input.field.col.s12
                span.input-group-btn
                  button.btn(type='submit', ng-click='addTask()') Add New

section#sectionAbout.section-unit
  .container
    .row
      .col.s12
        h4="About"
        p="Autor: "
          a(href='https://github.com/takahser') takahser
        p="License: MIT"

footer.footer.blue-grey.lighten-5
  .container
    p
      | Scrumboard V 1.0
      = ' | '
      a(href='https://github.com/takahser/yoapp') Github
